<!DOCTYPE html>
<html>
	<head>
		<title><%= full_title(yield(:title)) %></title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<%= render 'layouts/shim' %>
	</head>

	<body>
		<%= render 'layouts/header' %>
		<div style="width:1050px; margin:0 auto; padding:10px;"> <!-- class="container" -->
			<% flash.each do |key, value| %>
				<%= content_tag(:div, value, class: "alert alert-#{key}") %>
				<!-- the same as -->
				<!-- <div class="alert alert-<%= key %>"><%= value %></div> -->
			<% end %>

			<div class="menu_block"> <!-- class="row menu_block" -->
				<aside class="span4">
					<section>
						<%= render 'layouts/menu_block' %>
					</section>
				</aside>
			</div>

			<section>
				<%= yield %>
			</section>

			<%= render 'layouts/footer' %>
			<%= debug(params) if Rails.env.development? %>
		</div>
	</body>
</html>
